pandas==2.0.3
milvus==2.2.8
pymilvus==2.2.8
gradio==3.37.0
transformers==4.31.0
torch==2.0.1
accelerate==0.21.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tiktoken 
pypdf 
sentence_transformers==2.2.2
langchain